/* line 3, ../scss/app.scss */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 9, ../scss/app.scss */
body {
  margin: 0;
  padding: 0;
}
/* line 13, ../scss/app.scss */
body.error {
  background: #800;
  color: #fee;
  margin: 1.33em;
}
/* line 18, ../scss/app.scss */
body.error p {
  font-family: monospace;
  font-size: 12px;
}

/* line 25, ../scss/app.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 15px;
}

/* line 29, ../scss/app.scss */
.hidden {
  display: none;
}

/* line 33, ../scss/app.scss */
.shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
/* line 42, ../scss/app.scss */
.shade:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* line 47, ../scss/app.scss */
h1 {
  font-size: 60px;
}

/* line 51, ../scss/app.scss */
h2 {
  font-size: 50px;
}

/* line 55, ../scss/app.scss */
h3 {
  font-size: 40px;
}

/* line 59, ../scss/app.scss */
h4 {
  font-size: 30px;
}

/* line 63, ../scss/app.scss */
h5 {
  font-size: 20px;
}

/* line 67, ../scss/app.scss */
h6, textarea, input, body {
  font-size: 16px;
}

/* line 71, ../scss/app.scss */
textarea, input, body {
  font-family: "Droid Sans", Tahoma, sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
