@import "common";

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  &.error {
    background: #800;
    color: #fee;
    margin: 1.33em;
    
    p {
      font-family: monospace;
      font-size: 12px;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: $pad;
}

.hidden {
  display: none;
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

h6, textarea, input, body {
  font-size: 16px;
}

textarea, input, body {
  font-family: "Droid Sans", Tahoma, sans-serif;
  text-shadow: $shadow;
}